@font-face {
    font-family: 'Swift';
    src: url('Swift-BoldItalic.eot');
    src: local('Swift Bold Italic'), local('Swift-BoldItalic'),
    url('Swift-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Swift-BoldItalic.woff2') format('woff2'),
    url('Swift-BoldItalic.woff') format('woff'),
    url('Swift-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Swift';
    src: url('Swift.eot');
    src: local('Swift'),
    url('Swift.eot?#iefix') format('embedded-opentype'),
    url('Swift.woff2') format('woff2'),
    url('Swift.woff') format('woff'),
    url('Swift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Swift';
    src: url('Swift-ExtraBold.eot');
    src: local('Swift ExtraBold'), local('Swift-ExtraBold'),
    url('Swift-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Swift-ExtraBold.woff2') format('woff2'),
    url('Swift-ExtraBold.woff') format('woff'),
    url('Swift-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Swift';
    src: url('Swift-Italic.eot');
    src: local('Swift Italic'), local('Swift-Italic'),
    url('Swift-Italic.eot?#iefix') format('embedded-opentype'),
    url('Swift-Italic.woff2') format('woff2'),
    url('Swift-Italic.woff') format('woff'),
    url('Swift-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Swift';
    src: url('Swift-Light.eot');
    src: local('Swift Light'), local('Swift-Light'),
    url('Swift-Light.eot?#iefix') format('embedded-opentype'),
    url('Swift-Light.woff2') format('woff2'),
    url('Swift-Light.woff') format('woff'),
    url('Swift-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Swift';
    src: url('Swift-Bold.eot');
    src: local('Swift Bold'), local('Swift-Bold'),
    url('Swift-Bold.eot?#iefix') format('embedded-opentype'),
    url('Swift-Bold.woff2') format('woff2'),
    url('Swift-Bold.woff') format('woff'),
    url('Swift-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Swift';
    src: url('Swift-Light-Italic.eot');
    src: local('Swift Light Italic'), local('Swift-Light-Italic'),
    url('Swift-Light-Italic.eot?#iefix') format('embedded-opentype'),
    url('Swift-Light-Italic.woff2') format('woff2'),
    url('Swift-Light-Italic.woff') format('woff'),
    url('Swift-Light-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Swift';
    src: url('Swift-ExtraBold-Italic.eot');
    src: local('Swift ExtraBold Italic'), local('Swift-ExtraBold-Italic'),
    url('Swift-ExtraBold-Italic.eot?#iefix') format('embedded-opentype'),
    url('Swift-ExtraBold-Italic.woff2') format('woff2'),
    url('Swift-ExtraBold-Italic.woff') format('woff'),
    url('Swift-ExtraBold-Italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

